In [1]:
%matplotlib inline
import pandas as pd
import csv as csv
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model
import matplotlib
import matplotlib.pylab as pl
from matplotlib import rcParams
import sqlite3

:0: FutureWarning: IPython widgets are experimental and may change in the future.

In [2]:
ds = pd.read_csv('../csv/jan2013_all', header = 0)

In [3]:
ds.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,...,hack_license.1,vendor_id.1,pickup_datetime.1,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,...,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,1.409691,0,8.409691
1,1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,...,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,1.327724,0,8.327724
2,2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,...,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,1.245758,0,8.245758
3,3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,...,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,1.163791,0,7.163791
4,4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,...,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,1.901491,0,12.401491

In [4]:
ds.columns.values

array(['Unnamed: 0', 'medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'medallion.1', 'hack_license.1', 'vendor_id.1',
       'pickup_datetime.1', 'payment_type', 'fare_amount', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'], dtype=object)

In [6]:
#ds = ds.drop('Unnamed: 0',1)

In [5]:
ds = ds.drop(['Unnamed: 0','medallion.1','hack_license.1','vendor_id.1','pickup_datetime.1'],1)

In [6]:
ds.columns.values

array(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'], dtype=object)

In [7]:
len(ds.hack_license.unique())

32224

In [8]:
len(ds.medallion.unique())

13426

In [9]:
ds.ix[ds.medallion==ds.medallion[1000],'hack_license'].nunique()

3

In [10]:
drivers = ds.groupby('medallion').aggregate({'hack_license':pd.Series.nunique})

In [11]:
drivers.head()

                                  hack_license
medallion
00005007A9F30E289E760362F69E4EAD            16
000318C2E3E6381580E5C99910A60668            16
000351EDC735C079246435340A54C7C1            13
0009986BDBAB2F9A125FEF49D0BFCCDD             4
00115F46520039845A5F719C979BEA45             3

In [25]:
drivers.hack_license.describe()

count    13426.000000
mean         7.771712
std         10.279003
min          1.000000
25%          2.000000
50%          3.000000
75%          9.000000
max         59.000000
Name: hack_license, dtype: float64

In [12]:
len(drivers[drivers.hack_license==1])

1285

In [13]:
np.sum(drivers.hack_license)

104343

In [14]:
#Let's clean up the data a bit
ds = ds[ds.trip_distance>0]
ds = ds[ds.total_amount>=0]
ds = ds[ds.trip_time_in_secs>300]

In [15]:
lomax = -73.77
lomin = -74.06
lamax = 40.91
lamin = 40.61

In [16]:
ds = ds[(ds['pickup_longitude']>=lomin)&(ds['pickup_longitude']<=lomax)&\
       (ds['dropoff_longitude']>=lomin)&(ds['dropoff_longitude']<=lomax)&\
       (ds['pickup_latitude']>=lamin)&(ds['pickup_latitude']<=lamax)&\
       (ds['dropoff_latitude']>=lamin)&(ds['dropoff_latitude']<=lamax)] #preparing set to bin

In [17]:
ds.pickup_latitude.describe()

count    11444817.000000
mean           40.750140
std             0.027045
min            40.610050
25%            40.735649
50%            40.752930
75%            40.766804
max            40.909153
Name: pickup_latitude, dtype: float64

In [18]:
ds.pickup_latitude.describe()

count    11444817.000000
mean           40.750140
std             0.027045
min            40.610050
25%            40.735649
50%            40.752930
75%            40.766804
max            40.909153
Name: pickup_latitude, dtype: float64

In [19]:
ds.dropoff_longitude.describe()

count    11444817.000000
mean          -73.974244
std             0.032451
min           -74.059998
25%           -73.991547
50%           -73.980698
75%           -73.965332
max           -73.770012
Name: dropoff_longitude, dtype: float64

In [20]:
ds['avg_speed'] = ds['trip_distance'] / (ds['trip_time_in_secs'] / 3600)

In [21]:
ds.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,avg_speed
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,...,-73.989838,40.751171,CSH,6.5,0.0,0.5,1.409691,0.0,8.409691,9.424084
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,...,-74.002586,40.747868,CSH,9.5,0.5,0.5,1.901491,0.0,12.401491,13.500000
5,20D9ECB2CA0767CF7A01564DF2844A3E,598CCE5B9C1918568DEE71F43CF26CD2,CMT,1,N,2013-01-07 15:27:48,2013-01-07 15:38:37,1,648,1.7,...,-73.983322,40.743763,CSH,9.5,0.0,0.5,1.901491,0.0,11.901491,9.444444
6,496644932DF3932605C22C7926FF0FE0,513189AD756FF14FE670D10B92FAF04C,CMT,1,N,2013-01-08 11:01:15,2013-01-08 11:08:14,1,418,0.8,...,-74.007416,40.744343,CSH,6.0,0.0,0.5,1.327724,0.0,7.827724,6.889952
7,0B57B9633A2FECD3D3B1944AFC7471CF,CCD4367B417ED6634D986F573A552A62,CMT,1,N,2013-01-07 12:39:18,2013-01-07 13:10:56,3,1898,10.7,...,-73.865250,40.770630,CSH,34.0,0.0,0.5,5.917860,4.8,45.217860,20.295047

In [22]:
ds.to_csv('../csv/jan2013_all_clean_2')